// Main rules
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 99vh;
    background-color: red;
}

// structure
header{
    height: 100px ;
    background-color: royalblue;
}
main{
    width: 100%;
    height: 769px;
    display: flex;
    flex-direction: row; 
}
main .nav-left{
    height: 769px;
    width: 10%;
    background-color: salmon;

}
main .central{
    height: 769px;
    width: 80%;
}
main .nav-right{
    height: 769px;
    width: 10%;
    background-color: salmon;

}
footer{
    height: 100px;
    background-color: rgb(65, 225, 198);
}
